.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/
pip-wheel-metadata/
output/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.*
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml
nosetests.xml
.python-version
.vscode/
.idea/
*.log
.DS_Store
.ipynb_checkpoints/
.config.yaml